// Key
.defra-map-key__section {
  padding:0;
  margin:0;
  list-style-type: none;
}
.defra-map-key__item {
  display:block;
  padding:0 15px;
  label {
    @include govuk-font($size: 16);
  }
}
.defra-map-key__item:first-child {
  border-top:1px solid $govuk-border-colour;
  padding-top:10px;
}
.defra-map-key__item:last-child {
  padding-bottom:10px;
}
.defra-map-key__item:after {
  content: "";
  display: table;
  clear: both;
}

// Symbols
.defra-map-key__symbol-container {
  position:relative;
  display:block;
  margin-left:36px;
  &--multi {
    margin-top:19px;
  }
}
.defra-map-key__symbol {
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  margin-left:-36px;
  margin-top:-4px;
  @include mq ($from: tablet) {
    margin-top:-2px;
  }
  background-size: 24px;
  background-repeat: no-repeat;
  border:0;
  &--map {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-2.303,3.184 -8.23,8.348 -8.23,8.348c0,0 -5.927,-5.164 -8.23,-8.348l0.01,0.005Z" style="fill:#6f777b;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.991,9.978l0,0.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,0 0,-0.009 0,-0.009l13.982,0Z" style="fill:#6f777b;"/></svg>');
  }
  &--satellite {

  }
  &--severe {

  }
  &--warning {

  }
  &--alert {

  }
  &--high {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-2.303,3.184 -8.23,8.348 -8.23,8.348c0,0 -5.927,-5.164 -8.23,-8.348l0.01,0.005Z" style="fill:#e3000f;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.311,6.978c0.436,0.911 0.68,1.932 0.68,3.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,-1.077 0.244,-2.098 0.68,-3.009l12.622,0Z" style="fill:#e3000f;"/></svg>');
  }
  &--normal {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-2.303,3.184 -8.23,8.348 -8.23,8.348c0,0 -5.927,-5.164 -8.23,-8.348l0.01,0.005Z" style="fill:#00703C;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.991,9.978l0,0.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,0 0,-0.009 0,-0.009l13.982,0Z" style="fill:#00703C;"/></svg>');
  }
  &--station {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-2.303,3.184 -8.23,8.348 -8.23,8.348c0,0 -5.927,-5.164 -8.23,-8.348l0.01,0.005Z" style="fill:#6f777b;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.991,9.978l0,0.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,0 0,-0.009 0,-0.009l13.982,0Z" style="fill:#6f777b;"/></svg>');
  }
}

// Overide
.defra-map-key {
  .govuk-checkboxes__label:before,
  .govuk-radios__label:before {
    top:7px;
  }
  .govuk-checkboxes__label:after,
  .govuk-radios__label:after {
    top:14px;
  }
}
// Map keyboard access overlays
.defra-map-overlay {
  @include govuk-font($size: 19, $weight: bold);
  text-align:center;
  width:20px;
  height:20px;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
.defra-map-overlay--21,
.defra-map-overlay--22,
.defra-map-overlay--23,
.defra-map-overlay--24 {
  margin-left:-9px;
  margin-top:-30px;
  &-bigZoom {
    margin-left:-10px;
    margin-top:-50px;
  }
}
.defra-map-overlay--11,
.defra-map-overlay--12,
.defra-map-overlay--13,
.defra-map-overlay--14 {
  margin-left:-10px;
  margin-top:-52px;
  &-bigZoom {
    margin-left:-10px;
    margin-top:-12px;
  }
}