// Key
.defra-map-key__section {
  padding:0;
  margin:0;
  list-style-type: none;
}
.defra-map-key__item {
  display:block;
  padding:0 15px;
  label {
    @include govuk-font($size: 16);
  }
}
.defra-map-key__item:first-child {
  border-top:1px solid $govuk-border-colour;
  padding-top:10px;
}
.defra-map-key__item:last-child {
  padding-bottom:10px;
}
.defra-map-key__item:after {
  content: "";
  display: table;
  clear: both;
}

// Symbols
.defra-map-key__symbol-container {
  position:relative;
  display:block;
  margin-left:34px;
  &--multi {
    margin-top:19px;
  }
}
.defra-map-key__symbol {
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  margin-left:-34px;
  margin-top:-4px;
  @include mq ($from: tablet) {
    margin-top:-2px;
  }
  background-size: 24px;
  background-repeat: no-repeat;
  border:0;
  &--map {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><g><path d="M8.19,4.04l-4.761,1.733l0,14.187l4.761,-1.733l0,-14.187Z" style="fill:#fff;stroke:#fff;stroke-width:0.5px;stroke-miterlimit:20;"/><path d="M14.43,5.791l-4.811,-1.751l0,14.187l4.811,1.751l0,-14.187Z" style="fill:#fff;stroke:#fff;stroke-width:0.5px;stroke-miterlimit:20;"/><path d="M20.616,4.04l-4.856,1.751l0,14.187l4.811,-1.751l0.045,-14.187Z" style="fill:#fff;stroke:#fff;stroke-width:0.5px;stroke-miterlimit:20;"/><path d="M15.095,4.513l6.905,-2.513l0,17.227l-6.905,2.513l-6.19,-2.253l-6.905,2.513l0,-17.227l6.905,-2.513l6.19,2.253Zm-5.476,13.714l4.811,1.751l0,-14.187l-4.811,-1.751l0,14.187Zm6.141,-12.436l0,14.187l4.811,-1.751l0,-14.187l-4.811,1.751Zm-12.331,-0.018l0,14.187l4.761,-1.733l0,-14.187l-4.761,1.733Z" style="fill:#0b0c0c;"/></g></svg>');
  }
  &--satellite {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><ellipse cx="12" cy="12" rx="10" ry="10" style="fill:#0b0c0c;"/><circle cx="12" cy="12" r="8.571" style="fill:#fff;"/><path d="M2.967,12.999c0.17,0.002 0.174,0.037 0.348,0.063c0.215,0.032 0.189,0.069 0.469,0.24c0.28,0.172 0.234,0.157 0.534,0.402c0.299,0.246 0.375,0.239 0.726,0.488c0.351,0.249 0.26,0.027 0.704,0.165c0.445,0.138 0.352,0.176 0.625,0.4c0.274,0.224 0.457,0.363 0.794,0.661c0.338,0.298 0.139,0.247 0.149,0.639c0.011,0.392 -0.137,0.324 -0.309,0.544c-0.171,0.22 -0.22,0.255 -0.407,0.561c-0.188,0.307 -0.125,0.252 -0.163,0.631c-0.038,0.38 -0.029,0.355 -0.03,0.88c0,0.279 -0.016,0.365 -0.031,0.464c-1.863,-1.471 -3.137,-3.655 -3.409,-6.138Z" style="fill:#0b0c0c;"/><path d="M8.809,3.489c0.087,0.075 0.145,0.164 0.235,0.331c0.098,0.182 0.127,0.287 0.208,0.799c0.081,0.512 -0.11,0.612 -0.429,0.979c-0.319,0.367 -0.355,0.395 -0.959,0.676c-0.603,0.281 -0.558,0.767 -1.105,0.808c-0.34,0.025 -0.259,-0.206 -0.253,-0.6c0.007,-0.395 -0.15,-0.483 0.092,-0.948c0.17,-0.326 0.246,-0.696 0.318,-1.065c0.586,-0.397 1.221,-0.727 1.893,-0.98Z" style="fill:#0b0c0c;"/><path d="M12.327,2.918c3.961,0.14 7.281,2.821 8.376,6.462c-0.135,-0.06 -0.302,-0.116 -0.549,-0.275c-0.437,-0.281 -0.256,-0.119 -0.593,-0.302c-0.337,-0.184 -0.44,-0.123 -0.696,-0.264c-0.256,-0.14 -0.442,-0.264 -0.364,0.065c0.079,0.328 0.134,0.329 0.288,0.589c0.155,0.259 0.387,0.266 0.537,0.482c0.15,0.217 0.28,0.21 0.277,0.571c-0.003,0.362 -0.143,0.26 -0.456,0.336c-0.312,0.075 -0.402,0.02 -0.402,0.02c0,0 -0.251,-0.165 -0.528,-0.438c-0.278,-0.273 -0.525,-0.223 -0.933,-0.524c-0.408,-0.3 -0.292,-0.094 -0.572,-0.256c-0.28,-0.163 -0.363,-0.135 -0.316,0.082c0.048,0.217 -0.037,0.19 0.21,0.405c0.247,0.214 0.25,0.38 0.427,0.644c0.176,0.264 0.521,0.385 0.713,0.792c0.191,0.406 0.268,0.282 0.407,1.053c0.138,0.771 0.066,0.388 0,0.824c-0.067,0.435 -0.2,0.463 -0.41,0.99c-0.21,0.528 -0.277,0.375 -0.561,0.824c-0.284,0.449 -0.21,0.248 -0.529,0.651c-0.319,0.403 -0.379,0.345 -0.632,0.699c-0.252,0.354 -0.208,0.419 -0.399,0.79c-0.191,0.372 -0.222,0.584 -0.577,1.263c-0.355,0.678 -0.264,0.355 -0.506,0.645c-0.242,0.289 -0.143,0.246 -0.472,0.45c-0.329,0.204 -0.102,0.302 -0.334,0.129c-0.232,-0.173 -0.166,-0.256 -0.245,-0.757c-0.078,-0.502 -0.113,-0.476 -0.246,-1.027c-0.132,-0.552 -0.025,-0.561 -0.106,-0.991c-0.082,-0.43 0.063,-0.496 0.135,-0.966c0.073,-0.47 0.073,-0.536 0.172,-0.875c0.1,-0.339 0.147,-0.407 0.135,-0.987c-0.013,-0.58 -0.089,-0.501 -0.382,-0.846c-0.293,-0.344 -0.324,-0.278 -0.864,-0.224c-0.54,0.054 -0.469,0.067 -0.907,0.069c-0.438,0.002 -0.563,-0.03 -0.93,-0.234c-0.367,-0.204 -0.373,-0.31 -0.742,-0.625c-0.369,-0.315 -0.178,-0.556 -0.3,-1.051c-0.121,-0.494 0.166,-0.826 0.284,-1.276c0.117,-0.449 0.072,-0.429 0.342,-0.894c0.271,-0.465 0.435,-0.428 0.699,-0.634c0.265,-0.206 0.458,-0.174 0.784,-0.232c0.326,-0.058 0.501,0 0.785,0.048c0.284,0.048 0.635,0.175 0.974,0.271c0.338,0.096 0.404,0.079 0.846,0.099c0.442,0.02 0.329,-0.015 0.481,-0.261c0.151,-0.246 -0.032,-0.386 -0.248,-0.642c-0.216,-0.256 -0.315,-0.354 -0.783,-0.604c-0.469,-0.249 -0.217,-0.199 -0.595,-0.171c-0.378,0.027 -0.268,0.007 -0.301,0.376c-0.033,0.369 0.105,0.395 -0.179,0.253c-0.284,-0.143 -0.107,-0.301 -0.327,-0.594c-0.221,-0.294 -0.123,-0.145 -0.422,-0.024c-0.299,0.121 -0.329,0.176 -0.543,0.507c-0.214,0.33 -0.28,0.388 -0.68,0.53c-0.4,0.142 -0.239,0.094 -0.533,-0.123c-0.294,-0.217 -0.105,-0.348 0.104,-0.6c0.21,-0.251 0.185,-0.401 0.206,-0.825c0.02,-0.423 -0.004,-0.357 -0.027,-0.704c-0.023,-0.347 0.09,-0.211 0.336,-0.196c0.247,0.015 0.403,0.063 0.985,0.126c0.582,0.064 0.284,-0.158 0.442,-0.555c0.158,-0.398 -0.038,-0.342 -0.358,-0.601c-0.32,-0.259 -0.135,-0.211 -0.026,-0.521c0.108,-0.311 0.113,-0.306 0.461,-0.746c0.073,-0.092 0.124,-0.155 0.167,-0.2Z" style="fill:#0b0c0c;"/></svg>')
  }
  &--severe {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M1.5,24c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.241 0.057,-0.469 0.158,-0.671l10.5,-21c0.247,-0.491 0.755,-0.829 1.342,-0.829c0.587,0 1.095,0.338 1.342,0.829l10.5,21c0.101,0.202 0.158,0.43 0.158,0.671c0,0.828 -0.672,1.5 -1.5,1.5l-21,0" style="fill:#e3000f;"/><path d="M2.309,22l19.382,0l-9.691,-19.382l-9.691,19.382Z" style="fill:#fff;"/><path d="M15.415,14.864l1.046,0l-4.433,-5.07l-1.708,1.964l0,-0.794l-1.015,0l0,1.96l-1.686,1.94l1.026,0l0,0.636l6.77,0l0,-0.636Z" style="fill:#e3000f;"/><path d="M17.823,16.5l-11.646,0l-2.25,4.5l16.146,0l-2.25,-4.5Z" style="fill:#00a4cd;"/></svg>');
    &.defra-map-key__symbol--big {
      background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="1" y="1" width="22" height="22" style="fill:#e3000f;"/><clipPath id="_clip1"><rect x="1" y="1" width="22" height="22"/></clipPath><g clip-path="url(#_clip1)"><path d="M1,1l22,22" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M23,1l-22,22" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M12,1l-11,11" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M23,12l-11,11" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M23,12l-11,-11" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M12,23l-11,-11" style="fill:none;stroke:#f17f87;stroke-width:1px;"/></g></svg>')
    }
  }
  &--warning {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M1.5,24c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.241 0.057,-0.469 0.158,-0.671l10.5,-21c0.247,-0.491 0.755,-0.829 1.342,-0.829c0.587,0 1.095,0.338 1.342,0.829l10.5,21c0.101,0.202 0.158,0.43 0.158,0.671c0,0.828 -0.672,1.5 -1.5,1.5l-21,0" style="fill:#e3000f;"/><path d="M2.309,22l19.382,0l-9.691,-19.382l-9.691,19.382Z" style="fill:#fff;"/><path d="M15.376,14.996l1.045,0l-4.433,-5.069l-1.708,1.964l0,-0.794l-1.015,0l0,1.96l-1.686,1.939l1.026,0l0,2.025l6.771,0l0,-2.025Z" style="fill:#181c1b;"/><path d="M18.573,18l-13.146,0l-1.5,3l16.146,0l-1.5,-3Z" style="fill:#00a4cd;"/></svg>');
    &.defra-map-key__symbol--big {
      background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="1" y="1" width="22" height="22" style="fill:#e3000f;"/><path d="M12,1l0,22" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M18,1l0,22" style="fill:none;stroke:#f17f87;stroke-width:1px;"/><path d="M6,1l0,22" style="fill:none;stroke:#f17f87;stroke-width:1px;"/></svg>')
    }
  }
  &--alert {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M1.5,24c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.241 0.057,-0.469 0.158,-0.671l10.5,-21c0.247,-0.491 0.755,-0.829 1.342,-0.829c0.587,0 1.095,0.338 1.342,0.829l10.5,21c0.101,0.202 0.158,0.43 0.158,0.671c0,0.828 -0.672,1.5 -1.5,1.5l-21,0" style="fill:#f18700;"/><path d="M2.309,22l19.382,0l-9.691,-19.382l-9.691,19.382Z" style="fill:#fff;"/><path d="M15.376,14.996l1.045,0l-4.433,-5.069l-1.708,1.964l0,-0.794l-1.015,0l0,1.96l-1.686,1.939l1.026,0l0,3.504l6.771,0l0,-3.504Z" style="fill:#181c1b;"/><path d="M19.323,19.5l-14.646,0l-0.75,1.5l16.146,0l-0.75,-1.5Z" style="fill:#00a4cd;"/></svg>');
    &.defra-map-key__symbol--big {
      background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="-1" y="-1" width="26" height="26" style="fill:none;stroke:#6f777b;stroke-width:0.1px;"/><rect x="1" y="1" width="22" height="22" style="fill:#f18700;"/><clipPath id="_clip1"><rect x="1" y="1" width="22" height="22"/></clipPath><g clip-path="url(#_clip1)"><path d="M14,0l-14,14" style="fill:none;stroke:#f8c37f;stroke-width:1px;"/><path d="M10,24l14,-14" style="fill:none;stroke:#f8c37f;stroke-width:1px;"/><path d="M0,24l24,-24" style="fill:none;stroke:#f8c37f;stroke-width:1px;"/></g></svg>')
    }
  }
  &--high {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="6" style="fill:#e3000f;"/></svg>');
    &.defra-map-key__symbol--big {
      background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-3.868,5.348 -8.23,8.348 -8.23,8.348c0,0 -4.362,-3 -8.23,-8.348l0.01,0.005Z" style="fill:#e3000f;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.311,6.978c0.436,0.911 0.68,1.932 0.68,3.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,-1.077 0.244,-2.098 0.68,-3.009l12.622,0Z" style="fill:#e3000f;"/></svg>');      
    }
  }
  &--normal {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="6" style="fill:#00703C;"/></svg>');
    &.defra-map-key__symbol--big {
      background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-3.868,5.348 -8.23,8.348 -8.23,8.348c0,0 -4.362,-3 -8.23,-8.348l0.01,0.005Z" style="fill:#00703C;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.991,9.978l0,0.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,0 0,-0.009 0,-0.009l13.982,0Z" style="fill:#00703C;"/></svg>');
    }
  }
  &--station {
    background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="6" style="fill:#6f777b;"/></svg>');
    &.defra-map-key__symbol--big {
      background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M3.78,15.657c-1.114,-1.611 -1.767,-3.565 -1.767,-5.67c0,-5.512 4.475,-9.987 9.987,-9.987c5.512,0 9.987,4.475 9.987,9.987c0,2.105 -0.653,4.058 -1.766,5.669l0.009,-0.004c-3.868,5.348 -8.23,8.348 -8.23,8.348c0,0 -4.362,-3 -8.23,-8.348l0.01,0.005Z" style="fill:#6f777b;"/><path d="M12,17.976c4.412,0 7.99,-3.577 7.99,-7.989c0,-4.413 -3.578,-7.99 -7.99,-7.99c-4.412,0 -7.99,3.577 -7.99,7.99c0,4.412 3.578,7.989 7.99,7.989Z" style="fill:#fff;"/><path d="M18.991,9.978l0,0.009c0,3.858 -3.133,6.991 -6.991,6.991c-3.858,0 -6.991,-3.133 -6.991,-6.991c0,0 0,-0.009 0,-0.009l13.982,0Z" style="fill:#6f777b;"/></svg>');
    }
  }
}

// Overide
.defra-map-key {
  .govuk-checkboxes__label:before,
  .govuk-radios__label:before {
    top:7px;
  }
  .govuk-checkboxes__label:after,
  .govuk-radios__label:after {
    top:14px;
  }
}
// Map keyboard access overlays
.defra-map-overlay {
  @include govuk-font($size: 19, $weight: bold);
  text-align:center;
  width:20px;
  height:20px;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
.defra-map-overlay--stations {
  margin-left:-9px;
  margin-top:-30px;
  &-bigZoom {
    margin-left:-10px;
    margin-top:-50px;
  }
}
.defra-map-overlay--warnings {
  margin-left:-10px;
  margin-top:-52px;
  &-bigZoom {
    margin-left:-10px;
    margin-top:-12px;
  }
}