.defra-map {
  &__outer-container {
    position:relative;
  }
  &__container {
    width:100%;
    height:300px;
  }
  &__map-buttons {
    position: absolute;
    bottom:0px;
    width:100%;
    pointer-events: none;
  }
}
.defra-map__container {
  margin-bottom:22px;
  @include mq ($from: tablet) {
    margin-bottom:32px;
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    position:absolute;
    pointer-events: none;
    content:'';
    left:3px;
    right:3px;
    top:3px;
    bottom:3px;
    outline: 3px solid $govuk-focus-colour;
    z-index: 99;
  }
}
.defra-map-button {
  @extend .govuk-button;
  &--start {
    @extend .govuk-button--secondary;
  }
  &--hidden {
    display: none !important;
  }
  &--confirm {
    @extend .govuk-button--secondary;
    @include govuk-font($size: 16);
    max-width:calc(50% - 12.5px);
    box-sizing: border-box;
    margin:0px 2.5px 10px 10px;
    background-color: white;
    pointer-events: auto;
  }
  &--finish {
    @extend .govuk-button--secondary;
    @include govuk-font($size: 16);
    max-width:calc(50% - 12.5px);
    box-sizing: border-box;
    margin:0px 10px 10px 2.5px;
    background-color: white;
    pointer-events: auto;
  }
  &--reset {
    display: block;
    margin-top:0px;
  }
}
.defra-map-button-edit {
  @include govuk-font($size: 16);
  position: absolute;
  color: $govuk-text-colour;
  left:-25px;
  bottom:21px;
  margin:0;
  border:2px solid transparent;
  box-shadow: 0 2px govuk-colour('mid-grey');
  padding:0;
  border:0;
  width:50px;
  // height:32px;
  padding:10px;
  // border-radius: 100%;
  background-color: white;
  cursor:pointer;
  &::-moz-focus-inner {
    border: 0;
  }
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  // text-indent:-5000px;
  &--add {
    left:-25px;
    width: 50px;
    // background-image: svg-url('<svg width="15" height="15" viewBox="0 0 15 15" ><path d="M9,6L15,6L15,9L9,9L9,15L6,15L6,9L0,9L0,6L6,6L6,0L9,0L9,6Z" style="fill:rgb(11,12,12);"/></svg>');
  }
  &--delete {
    left:-37px;
    width:74px;
    // background-image: svg-url('<svg width="15" height="15" viewBox="0 0 15 15"><path d="M15,9L15,6L0,6L0,9L15,9Z" style="fill:rgb(11,12,12);"/></svg>');
  }
  &:focus {
    outline:0px;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px $govuk-link-active-colour;
  }
}