body {
  touch-action: pan-y;
}
.defra-map-draw {
  &__container {
    position:relative;
    width:100%;
    height:300px;
    margin-bottom:22px;
    @include mq ($from: tablet) {
      margin-bottom:32px;
    }
  }
  &__map-buttons {
    position: absolute;
    bottom:0px;
    width:100%;
    height:auto;
    pointer-events: none;
    text-align:center;
    @include mq ($from: desktop) {
      text-align:left;
    }
  }
}
.defra-map-draw__inner-container {
  width:100%;
  height:100%;
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    position:absolute;
    pointer-events: none;
    content:'';
    left:3px;
    right:3px;
    top:3px;
    bottom:3px;
    outline: 3px solid $govuk-focus-colour;
    z-index: 99;
  }
}
.defra-map-draw-button {
  @extend .govuk-button;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &--start {
    @extend .govuk-button--secondary;
  }
  &--hidden {
    display: none !important;
  }
  &--confirm {
    @extend .govuk-button--secondary;
    @include govuk-font($size: 16);
    max-width:calc(50% - 12.5px);
    box-sizing: border-box;
    margin:0px auto 10px auto;
    @include mq ($from: desktop) {
      margin:0px 2.5px 10px 10px;
    }
    background-color: white;
    pointer-events: auto;
  }
  &--finish {
    @extend .govuk-button--secondary;
    @include govuk-font($size: 16);
    max-width:calc(50% - 12.5px);
    box-sizing: border-box;
    margin:0px auto 10px 5px;
    @include mq ($from: desktop) {
      margin:0px 10px 10px 2.5px;
    }
    background-color: white;
    pointer-events: auto;
  }
  &--reset {
    display: block;
    margin-top:0px;
  }
}
.defra-map-draw-button-overlay {
  @include mq ($until: desktop) {
    transform: none !important;
    bottom:0px;
    width:100%;
    text-align:center;
  }
}
.defra-map-draw-button-edit {
  @include govuk-font($size: 16);
  color: $govuk-text-colour;
  margin:0px auto 10px auto;
  @include mq ($from: desktop) {
    position: absolute;
    left:-37px;
    bottom:21px;
    margin:0;
    width:74px;
  }
  box-shadow: 0 2px govuk-colour('mid-grey');
  border:0;
  padding:10px 10px 9px 10px;
  background-color: white;
  cursor:pointer;
  &::-moz-focus-inner {
    border: 0;
  }
  span {
    @include mq ($from: desktop) {
      position: absolute;
      width:0px;
      height:0px;
      text-indent: -5000px;
    }
  }
  &:focus {
    outline:0px;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px $govuk-link-active-colour;
  }
}