
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% extends "layout.html" %}

{% block pageTitle %}
  Map component - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Draw the shape
    </h1>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to draw a shape
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li>Adjust the map until your area is in view</li>
          <li>Press 'Start drawing'</li>
          <li>Choose a starting point on your shape and adjust the map to move this into the circle</li>
          <li>Press 'confirm point'</li>
          <li>Repeat step 3 to 4 until you have marked all the edges of your shape</li>
          <li>Press 'finish shape'</li>
        </ol>
      </div>
    </details>
    <div id="map"></div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src='/public/javascripts/pages/draw.js'></script>
{% endblock %}
