// GOV.UK number list aligment fix
.govuk-list--number-expanded {
    @extend .govuk-list--number;
    padding-left: 23px;
    @include mq ($from: tablet) {
        padding-left: 27px;
    }
    li {
        margin-bottom: 5px;
    }
}